<h2><%= author.name %></h2>
<p>Mustache Size: <%= author.mustachSize %> </p>

<hr>

<h2>Posts by this author:</h2>
<% posts.forEach(function(post) { %>
    <p><a href="/posts/<%=post.id %>"> <%= post.title %> </a></p>
<% }); %>


<hr>

<h2>Add a new post:</h2>
<form method="POST" action="/authors/<%= author.id %>/posts">
    <input type="text" name="title" placeholder="Post Title..."><br />
    <input type="text" name="content" placeholder="Type Something"><br />
    <input type="submit" value="Add Post">
</form>

